
/*CSS Grid*/ 
.section--titre{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    
}
.mgrid-start2{
    grid-column-start: 3;
    grid-column-end: 5;  
    grid-row-start: 1; 
}
.mgrid-start3{
    grid-column-start:2;
    grid-column-end: 3;
}


/*tablette*/
@media (min-width: 900px){
  
    /*CSS Grid */
    .container{
        display: grid;
        grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        
    }
    .container > *{
        grid-column: 2/-1; 
    }
    .tgrid-start2{
        grid-column-start: 3;
        grid-column-end: 5;  
        grid-row-start: 1; 
        margin-top: 180px;
    }
    .tgrid-start3{
        grid-column-start:2;
        grid-column-end: 3;
    }
    .tgrid-start4{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        margin-top: 180px;
    }
    .tgrid-start5{
        grid-column-start: 4;
        grid-column-end: 5; 
        grid-row-start: 2;
    }
    .tgrid-start6{
        grid-column-start: 2;
        grid-column-end: 3; 
        grid-row-start: 2;
    }
    .tgrid-start7{
        grid-column-start: 2;
        grid-column-end: 4; 
    }
    .tgrid-start8{
        grid-column-start: 3;
        grid-column-end: 5; 
        grid-row-start: 2;
        margin-top: 180px;
    }
    .tgrid-start9{
        grid-column-start: 2;
        grid-column-end: 3; 
        grid-row-start: 3;
        margin-top: 180px;
    }
    .tgrid-start10{
        grid-column-start: 3;
        grid-column-end: 5; 
        grid-row-start: 3;
    }
    .tgrid-start11{
        grid-column-start: 3;
        grid-column-end: 5; 
        grid-row-start: 4;
        margin-top: 180px;
    }
    .tgrid-start12{
        grid-column-start: 2;
        grid-column-end: 3; 
        grid-row-start: 4;
    }
    .tgrid-start13{
        grid-column-start: 2;
        grid-column-end: 3; 
        grid-row-start: 5;
        margin-top: 180px;
    }
    .tgrid-start14{
        grid-column-start: 3;
        grid-column-end: 5; 
        grid-row-start: 5;
    }
    .tgrid-start15{
        grid-column-start: 4;
        grid-column-end: 6; 
    }
}

@media (min-width: 1200px){
 
    /*CSS Grid */
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr) 3fr 6fr 1fr;
        column-gap: 50px;
        row-gap: 50px;
    }
    .container > *{
        grid-column: 2/-1; 
    }
    .dgrid-start2{
        grid-column-start: 2;
        grid-column-end: 3;  
        grid-row-start: 1;
  
    }
    .dgrid-start3{
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
   
    }
    .dgrid-start4{
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .dgrid-start5{
        grid-column-start: 4;
        grid-column-end: 4; 

    }
    .dgrid-start6{
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .dgrid-start7{
        grid-column-start: 4;
        grid-column-end: 5;   
        grid-row-start: 2;
    }
    .dgrid-start8{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
    }
    .dgrid-start9{
        grid-column-start: 2;
        grid-column-end: 4;  
        grid-row-start: 3; 
    }
    .dgrid-start10{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        margin-top: 20px;
    }
    .dgrid-start11{
        grid-column-start: 2;
        grid-column-end: 4;  
        grid-row-start: 4; 
 
    }
    .dgrid-start12{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 4;
    }
    .dgrid-start13{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 5;
 
    }
    .dgrid-start14{
        grid-column-start: 2;
        grid-column-end: 4;  
        grid-row-start: 5; 
    }
    .dgrid-start15{
        grid-column-start: 4;
        grid-column-end: 5;  
    }
}

