
/*CSS Grid*/ 
.section--titre{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    
}
.mgrid-start2{
    grid-column-start: 3;
    grid-column-end: 5;  
    grid-row-start: 1; 
}
.mgrid-start3{
    grid-column-start:2;
    grid-column-end: 3;
    margin-top: 20px;
    margin-left: 50px;
}


/*tablette*/
@media (min-width: 900px){
  
    /*CSS Grid */
    .container{
        display: grid;
        grid-template-columns: 1fr 2fr 3fr 1fr 1fr;
        column-gap: 50px;
        row-gap: 60px;
        margin: 20px;
        padding: 20px;
        
    }
    .container > *{
        grid-column: 2/-1; 
    }
    .tgrid-start2{
        grid-column-start: 3;
        grid-column-end: 6;  
        grid-row-start: 1; 


    }
    .tgrid-start3{
        grid-column-start:2;
        grid-column-end: 4;
        grid-row-start: 1; 

    }
    .tgrid-start4{
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 2;
        margin-top: 180px;
    }
    .tgrid-start5{
        grid-column-start: 2;
        grid-column-end: 3; 
        grid-row-start: 1;
    }
    .tgrid-start6{
        grid-column-start: 2;
        grid-column-end: 5; 
        grid-row-start: 2;
        margin-top: 80px;
    }
    .tgrid-start7{
        grid-column-start: 2;
        grid-column-end: 4; 
        grid-row-start: 1; 
    }
    .tgrid-start8{
        grid-column-start: 3;
        grid-column-end: 6; 
        grid-row-start: 2;

    }
    .tgrid-start9{
        grid-column-start: 3;
        grid-column-end: 6; 
        grid-row-start: 1;
        margin-top: -60px;
      
    }
    .tgrid-start10{
        grid-column-start: 2;
        grid-column-end: 4; 
        grid-row-start: 1;
    }
    .tgrid-start11{
        grid-column-start: 2;
        grid-column-end: 4; 
        grid-row-start: 2;
    }
    .tgrid-start12{
        grid-column-start: 4;
        grid-column-end: 5; 
        grid-row-start: 5;
    }
    .tgrid-start13{
        grid-column-start: 2;
        grid-column-end: 3; 
        grid-row-start: 5;
        margin-top: 180px;
    }
    .tgrid-start14{
        grid-column-start: 2;
        grid-column-end: 4; 
        grid-row-start: 4;
    }
    .tgrid-start15{
        grid-column-start: 2;
        grid-column-end: 4; 
        grid-row-start: 8;
        margin-top: 100px;
    }
    .tgrid-start16{
        grid-column-start: 2;
        grid-column-end: 4; 
        grid-row-start: 11;
    }
    .tgrid-start17{
        grid-column-start: 2;
        grid-column-end: 4; 
        grid-row-start: 15;
    }
    .tgrid-start18{
        grid-column-start: 2;
        grid-column-end: 4; 
        grid-row-start: 16;
    }
    .tgrid-start19{
        grid-column-start: 2;
        grid-column-end: 3; 
        grid-row-start: 4;
    }
    .tgrid-start20{
        grid-column-start: 4;
        grid-column-end: 5; 
        grid-row-start: 4;
    }
    .tgrid-start21{
        grid-column-start: 4;
        grid-column-end: 5; 
        grid-row-start: 3;
    }
    .tgrid-start22{
        grid-column-start: 2;
        grid-column-end: 3; 
        grid-row-start: 3;
        padding: 20px;
        margin-top: 50px;
    }
    .tgrid-start23{
        grid-column-start: 2;
        grid-column-end: 3; 
        grid-row-start: 2;
    }
    .tgrid-start24{
        grid-column-start: 4;
        grid-column-end: 5; 
        grid-row-start: 2;
    }
    .tgrid-start25{
        grid-column-start: 2;
        grid-column-end: 3; 
        grid-row-start: 5;
        padding: 20px;
        margin-top: 50px;
    }
    .tgrid-start26{
        grid-column-start: 2;
        grid-column-end: 4; 
        grid-row-start: 8;
    }
    .tgrid-start27{
        grid-column-start: 2;
        grid-column-end: 4; 
        grid-row-start: 11;
        margin-top: 90px;
    }
    .tgrid-start28{
        grid-column-start: 2;
        grid-column-end: 4; 
        grid-row-start: 15;
        margin-top: 90px;
    }
    .tgrid-start29{
        grid-column-start:2;
        grid-column-end: 4;
        grid-row-start: 2;
    }
    .tgrid-start30{
        grid-column-start:2;
        grid-column-end: 4;
     padding: 20px;
    }
    .tgrid-start31{
        grid-column-start:2;
        grid-column-end: 4;
        grid-row-start: 2; 
        margin-top: -50px;
    }
}

@media (min-width: 1200px){
 
    /*CSS Grid */
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
        padding: 20px;
        
    }
    .container > *{
        grid-column: 2/-1; 
    }
    .dgrid-start2{
        grid-column-start: 2;
        grid-column-end: 3;  
        grid-row-start: 1;
  
    }
    .dgrid-start3{
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        padding: 10px;
    }
    .dgrid-start4{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        margin-top: 170px;
    }
    .dgrid-start5{
        grid-column-start: 4;
        grid-column-end: 5; 
        grid-row-start: 2;
        margin: 80px;
        margin-top: 70px;
    }
    .dgrid-start6{
        grid-column-start: 2;
        grid-column-end: 3;
        margin-top: -15px;
    }
    .dgrid-start7{
        grid-column-start: 2;
        grid-column-end: 4;   
        margin-top: 60px;
    }
    .dgrid-start8{
        grid-column-start: 2;
        grid-column-end: 5;
       
    }
    .dgrid-start9{
        grid-column-start: 2;
        grid-column-end: 4;  
        grid-row-start: 4; 
        margin-top: -320px;
        
    }
    .dgrid-start10{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        margin-top: 20px;
    }
    .dgrid-start11{
        grid-column-start: 4;
        grid-column-end: 4;  
        grid-row-start: 3; 
        margin-top: 50px;
        margin-left: 100px
    }
    .dgrid-start12{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 4;
        margin-top: 180px;
    }
    .dgrid-start13{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 5;
        margin-left: 100px;
        margin-top: 30px;
    }
    .dgrid-start14{
        grid-column-start: 2;
        grid-column-end: 4;  
        grid-row-start: 5; 
        margin-top: 170px;
    }
    .dgrid-start15{
        grid-column-start: 2;
        grid-column-end: 2;  
        grid-row-start: 4;
        margin-top: 60px;
    }
    .dgrid-start16{
        grid-column-start: 1;
        grid-column-end: 3;  
        grid-row-start: 1;
        margin-top: 300px;
        padding: 15px;
    }
    .dgrid-start17{
        grid-column-start: 1;
        grid-column-end: 4;  
        grid-row-start: 1;
    }
    .dgrid-start18{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        margin-top: 280px;
    }
    .dgrid-start19{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        margin-top: 80px;
   
    }
    .dgrid-start20{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        margin-top: 220px;
    }
    .dgrid-start21{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
      
    }
    .dgrid-start22{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 8;
      
    }
    .dgrid-start23{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 9;
      
    }
    .dgrid-start24{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 11;
      
    }
    .dgrid-start25{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 12;
      
    }
    .dgrid-start26{
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 15;
      
    }
    .dgrid-start27{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 17;
      
    }
    .dgrid-start28{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 18;
      
    }
    .dgrid-start29{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 16;
      
    }
    .dgrid-start30{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 16;
      
    }
    .dgrid-start31{
        grid-column-start: 2;
        grid-column-end: 4;  
        margin-top: 150px; 
     
    }
    .dgrid-start32{
        grid-column-start: 4;
        grid-column-end: 5;  
        margin-top: 110px;
        padding: 15px;
    }
    .dgrid-start33{
        grid-column-start: 4;
        grid-column-end: 5;
        margin-top: 180px;
        padding: 15px;
    }
    .dgrid-start34{
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
    }
    .dgrid-start35{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        margin-top: 100px;
        margin-right: 90px;
    }
@media (min-width: 1500px){
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
            column-gap: 30px;
            row-gap: 30px;
            padding: 20px;
            
        }
     }

}

