/*layout*/
@use "_var.scss" as v; 

/*section*/
.section{
    padding: 0;
    margin: auto;
}
.section--header{
    width: 390px;
    height: 40px;
    font-size: 16px;
}

.section--footer{
    width: 350px;
    font-size: 16px; 
    border-top: 3px solid;
    border-color: var(--color-secondary);
    
}
[color-theme="sombre"] .section--footer{
    border-color: var(--color-btn) ;
}

.section--texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 80px;
    margin-top: 5px;
}
.section--credits,
.section--images,
.section--reseaux{
    margin-left: 35px;
    padding: 20px;  
}
.section--corps{
    margin-left: 10px;
    margin-top: -80px;
}
.section--etats{
    margin-left: 20px;
    margin-top: 10px;
}
.section--couleurs{
    margin-left: 30px;
    margin-top: 60px;
}
/*images*/
img{
    max-width: 200%;
    margin: -40px;
    position: relative;
}
.begin{
    max-width: 300%;
    margin-left: -90px;
    margin-top: -5px;
    padding: 5px;
}
.mockup{
    position: relative;
    max-width: 100%;
    margin-top: -120px;

}
.maquette{
    max-width: 400%;
    margin-left: -155px;
    padding: 15px;
}
.mvp{
    display: inline;
    padding: 50px;
    max-width: 190%;
    margin-left: -90px;
}
.mood{
    max-width: 350%;
    margin-left: -125px;
    padding: 10px;
}
.landing{
    display: inline;
    padding: 50px;
    margin-left: -150px;
    max-width: 300%;
}
.site{
    width: 100%;
}
.logo{
    max-width: 30%;
    position: relative;
    padding: 5px;
    margin-left: 10px;
}
.logoui{
    width: 200px;
    height: 70px; 
    margin-left: 40px; margin-top: 120px;
}
.dwm{
    position: relative;
    top: 30px; left: 45px;
}

[color-theme="sombre"] .carre{
    background-image: url(../images/patblack.png);

}
[color-theme="sombre"] .cross{
    background-color: #fefefe;

}
.rectangle{
    position: absolute;
    width: 390px;
    height: 820px;
    left: 0; 
    top: 380px; 
    background: rgba(29, 83, 179, 0.8);
}
.rectangle--projet{
    height: 320px;
    top: 315px;
}
.rectangle--projet__2{
    height: 700px;
    margin-top: 1090px;
}
.rectangle--projet__3{
    height: 720px;
    top: 3050px;
}
.rectangle--case{
    height: 660px;
    top: 310px;
}
.rectangle--case__2{
    height: 1910px;
    top: 2090px;
}
.rectangle--case__3{
    height: 900px;
    top: 6500px;
}
.rectangle--case__4{
    height: 1720px;
    top: 8905px;
}
[color-theme="sombre"] .rectangle{
    background: var(--color-texte);
}
/*texte*/
.titre{
    padding: 20px;
    margin-left: 30px;
}
p{
    position: relative;
    margin-top: 30px;
}
.paragraphe{
    position: relative;
}
[color-theme="sombre"] .paragraphe{
    color: var(--color-secondary);
}
.sous{
    position: relative;
    font-size: 10px;
    top: 30px
}
/*Liens et Boutons*/
a{
    text-decoration: none;
    color: var(--color-text);
}
.evidence{
    color: var(--color-secondary);
}
.evidence:hover{
    color: var(--color-texte);
}
[color-theme="sombre"] .evidence{
    color: var(--color-btn);
}
[color-theme="sombre"] .evidence:hover{
    color: var(--color-texte);
}
.bouton{
    cursor: pointer;
    padding: 0;
    margin: 0;
    border:transparent;
    position: relative;
    background-color: transparent;
    font-family: 'Lexend';
    left: 150px; top: 15px;
}
.bouton--sombre{
    width: 20px;
    height: 20px;

    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
   

    background-image: url(../images/moon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.bouton--sombre:hover{
    background-image: url(../images/moonhover.png);

}
[color-theme="sombre"] .bouton--sombre{
  background-image: url(../images/moondark.png);
}
[color-theme="sombre"] .bouton--sombre:hover{
    background-image: url(../images/moonfull.png);
  
}

.darkMode{
    max-width: 10%;
    margin-left: 40px;
}

/*couleurs*/
.colors{
    width: 50px;
    height: 30px;
    border-radius: 150px ;
    border: groove 3px #dfc7e4;
    display: inline-block;
    padding: 5px;
    background-color: var(--color-bg);
}
.colors--2{
    background-color: var(--color-text-offset);
}
.colors--3{
    background-color: var(--color-texte);
}
@media (max-width: 800px){

    .carre{
        display: none;
    }
    .cross{
        display: none;
    }
}
/*tablette*/
@media (min-width: 900px){
    .contenair{
        width: 100%;
        max-width: 1024px;
        margin: auto;
    }
    .section--header{
        width: 1100px;
        padding: 40px;
    }
    
    .section--footer{
        width: 1100px;
        font-size: 18px; 
    }
    .section--corps{
        margin-left: -80px;
        margin-top: -80px;
    }
    .section--etats{
        margin-left: -40px;
        margin-top: -10px;
    }
    .section--couleurs{
        margin-left: -40px;
        margin-top: -5px;
    }
    /*images*/
    .begin{
        max-width: 80%;
        margin-left: 100px;
    }
    .mvp{
        max-width: 30%;
        padding: 40px;
    }
    .landing{
        max-width: 80%;
    }
    .mockup{
        max-width: 100%;
    }
    .mockup--2{
        max-width: 210%;
    }
    .logo{
        max-width: 15%;
        top: -35px;
    }
    .logoimg{
        width: 500px;
        height: 200px;
        left: 80px; top: 100px;
    }
    .dwm{
        top: 50px; left: 35px;
    }
    .carre{
        position: absolute;
        width: 278px;
        height: 307px;
        background-image: url(../images/pa.png);
        background-repeat: repeat;
        background-size: 15%;
        background-position: 100%;
        clip-path: polygon(9% 25%, 35% 25%, 35% 0%, 59% 0, 59% 25%, 85% 25%, 85% 47%, 59% 47%, 59% 72%, 35% 72%, 35% 47%, 9% 47%);
        margin-left: 650px;

    }
    .cross{
        position: absolute;
        width: 278px;
        height: 307px;
        margin-top: 15px;
        margin-left: 690px;
        background: #4A75C2;
        clip-path: polygon(9% 25%, 35% 25%, 35% 0%, 59% 0, 59% 25%, 85% 25%, 85% 47%, 59% 47%, 59% 72%, 35% 72%, 35% 47%, 9% 47%);
    }
    .rectangle{
        width: 1100px;
        height: 420px;   
        margin-top: 40px;
    }
    .rectangle--projet{
        height: 250px;
        margin-top: 100px; 
    }
    .rectangle--projet__2{
        height: 450px;
        top: 1080px;
    }
    .rectangle--projet__3{
        height: 485px;
        top: 1970px;
    }
    .rectangle--case{
        height: 420px;
        top: 360px;
    }
    .rectangle--case__2{
        height: 1450px;
        top: 1760px;
    }
    .rectangle--case__3{
        height: 780px;
        top: 4650px;
    }
    .rectangle--case__4{
        height: 1405px;
        top: 7200px;
    }
    .site{
        width: 40%;
    }
    .maquette{
        width: 800px;
    }
    /*bouton*/
    .bouton{
        top: -75px; left: 840px;
    }
    
    .bouton--sombre{
        width: 20px;
        height: 20px;
        left: 900px;
    }
}

@media (min-width: 1200px){
    .contenair{
        width: 100%;
        max-width: 1500px;
    }
    .section--header{
        padding: 40px;
        width: 1380px;
    }
    .section--footer{
        width: 1380px;
        font-size: 18px; 
    }
    .section--corps{
        margin-left: -150px;
        margin-top: -100px;
    }
    .section--etats{
        margin-left: -120px;
        margin-top: -50px;
    }
    .section--couleurs{
        margin-left: -115px;
        margin-top: -50px;
    }
    /*bouton*/
    .bouton{
        left: 1250px;
    }
    .bouton--sombre{
        width: 30px;
        height: 30px;
    }
    /*texte*/
    .copyright{
        font-size: 20px;
        top: 80px; left: 40px;
    }
    /*images*/
    .begin{
        max-width: 70%;
        margin-left: 200px;
    }
    .mvp{
        max-width: 25%;
        padding: 60px;
    }
    .landing{
        width: 65%;
        margin-left: 300px;
    }
    .sous--2{
        left: 350px;
    }
    .dwm {
        top: 40px; left: 40px;
    }
    .maquette{
        width: 1100px;
        margin-left: -200px;
    }
    .mockup{
        max-width: 120%;
    }
    .mockup--2{
        max-width: 60%;
    }
    .logo{
        max-width: 11%;
        margin-left: 15px;
       margin-top: 10px;
    }
    .logoimg{
        width: 500px;
        height: 200px;
        left: 150px; top: 200px;
    }
    .fin{
        width:500px;
        left: -50px;
        padding: 10px;
    }
    .carre {
        position: absolute;
        top: 100px;
        right: 120px;
        background-size: 10%;
        background-position: 100%;
        height: 600px; width: 600px;
    }
    .cross{
        margin-top: -10px;
        margin-left: 730px;
        height: 600px; width: 600px;
    }
    .rectangle{
        width: 1390px;
        height: 550px;
        top: 650px;
    }
    .rectangle--projet{
        height: 350px;
    }
    .rectangle--projet__2{
        height: 590px;
        top: 1700px;
    }
    .rectangle--projet__3{
        top: 2910px;
        height: 600px;
    }
    .rectangle--case{
        height: 480px;
        top: 580px;
    }
    .rectangle--case__2{
        height: 1750px;
        top: 2290px;
    }
    .rectangle--case__3{
        height: 950px;
        top: 5700px;
    }
    .rectangle--case__4{
        height: 1510px;
        top: 8750px;
    }
}

@media (min-width: 1500px){
    .contenair{
        width: 100%;
        max-width: 1500px;
        margin: auto;
    }
    .section--footer{
        width: 1400px;
      
    }
    .section--header{
        width: 1400px;
        padding: 60px;
      
    }
    .section--credits,
    .section--images,
    .section--reseaux{
        margin-left: 100px;
        padding: 20px;
      
    }
    .section--corps{
        margin-left: 40px;
        margin-top: -80px;
    }
    .section--etats{
        margin-left: 70px;
        margin-top: -10px;
    }
    .section--couleurs{
        margin-left: 70px;
        margin-top: -5px;
    }
    .mockup{
        max-width: 100%;
        top: -30px;
    }
    .mockup--2{
        max-width: 50%;
        position: relative;
    }
    .rectangle{
        top: 630px ;
        width: 1900px;
        height: 520px;
    }
    
    .rectangle--projet{
        height: 380px;
        top: 620px;
    }
    .rectangle--projet__2{
        top: 1580px;
        height: 550px;
    }
    .rectangle--projet__3{
        top: 2650px;
        height: 568px;
    }
    .rectangle--case{
        height: 460px;
        top: 580px;
    }
    .rectangle--case__2{
        height: 1580px;
        top: 2110px;
    }
    .rectangle--case__3{
        height: 750px;
        top: 5190px;
    }
    .rectangle--case__4{
        height: 1570px;
        top: 8020px;
    }
    .carre {
        right: 390px;
        top: 120px
    }
    .cross{
        top: 150px;
        left: 330px;
    }
   .bouton{
       position: absolute;
       top: 13px;
       left: 1500px;
   }

}