/*layout*/
@use "_var.scss" as v; 

/*section*/
.section{
    padding: 0;
    margin: auto;
}
.section--header{
    width: 390px;
    height: 40px;
    font-size: 16px;
}

.section--footer{
    width: 390px;
    font-size: 16px; 
    border-top: 3px solid;
    border-color: var(--color-secondary);
    
}
[color-theme="sombre"] .section--footer{
    border-color: var(--color-btn) ;
}

.section--texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 80px;
    margin-top: 5px;
}
/*images*/
img{
    max-width: 100%;
}
.mockup{
    position: relative;
    max-width: 250px;

}
.maquette{
    max-width: 100%;
}


.logo{
    max-width: 30%;
    position: relative;
    padding: 5px;
}
.logoui{
    width: 200px;
    height: 70px; 
    margin-left: 40px; margin-top: 150px;
}
.dwm{
    position: relative;
    top: 70px; left: 25px;
}
.gif{
   max-width: 100%;
   border: none;
}
.carre{

    background-image: url(../images/pa.png);
    background-repeat: repeat;
    background-size: 30%;
    background-position: 100%;

}
[color-theme="sombre"] .carre{
    background-image: url(../images/patblack.png);

}
.rectangle{
    position: absolute;
    width: 390px;
    height: 420px;
    left: 0; 
    top: 380px; 
    background: rgba(29, 83, 179, 0.8);
}
[color-theme="sombre"] .rectangle{
    background: var(--color-texte);
}

p{
    position: relative;
}
[color-theme="sombre"] .paragraphe{
    color: var(--color-secondary);
}
.shadow{
    filter: drop-shadow(0px 0px 10px #284271);
}
/*Liens et Boutons*/
a{
    text-decoration: none;
    color: var(--color-text);
}
.evidence{
    color: var(--color-secondary);
}
.bouton{
    cursor: pointer;
    padding: 0;
    margin: 0;
    border:transparent;
    position: relative;
    background-color: transparent;
    font-family: 'Lexend';
    left: 290px; top: -25px;
}
.bouton--sombre{
    width: 20px;
    height: 20px;

    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
   

    background-image: url(../images/moon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.bouton--sombre:hover{
    background-image: url(../images/moonhover.png);

}
[color-theme="sombre"] .bouton--sombre{
  background-image: url(../images/moondark.png);
}
[color-theme="sombre"] .bouton--sombre:hover{
    background-image: url(../images/moonfull.png);
  
}

.darkMode{
    width: 85px;
    height: 85px;
}

/*couleurs*/
.colors{
    width: 50px;
    height: 30px;
    border-radius: 150px ;
    border: groove 3px #dfc7e4;
    display: inline-block;
    padding: 5px;
    background-color: var(--color-bg);
}
.colors--2{
    background-color: var(--color-text-offset);
}
.colors--3{
    background-color: var(--color-texte);
}

/*tablette*/
@media (min-width: 900px){
    .contenair{
        width: 100%;
        max-width: 1024px;
        margin: auto;
    }
    .section--header{
        width: 1022px;
        height: 60px;
    }
    
    .section--footer{
        width: 1022px;
        font-size: 18px; 
    }
    /*images*/
    .mockup{
        max-width: 400px;
    
    }

    .logo{
        max-width: 15%;
        margin-left: 15px;
        margin-top: 5px;
    }
    .logoimg{
        width: 500px;
        height: 200px;
        left: 80px; top: 100px;
    }
    .dwm{
        top: 90px; left: 25px;
    }
    .gif{
       max-width: 100%;
    }
    .carre {
      
        background-size: 25%;
  
    }
    .rectangle{
        width: 900px;
        height: 420px;    
    }
    .site{
        width: 40%;
    }
    .maquette{
        max-width: 100%;
    }
    /*bouton*/
    .bouton{
        top: -80px; left: 940px;
    }
    
    .bouton--sombre{
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 1200px){
    .contenair{
        width: 100%;
        max-width: 1500px;
    }
    .section--header{
        padding: 10px;
        width: 1260px;
        height: 90px;
    }
    .section--footer{
        width: 1260px;
        font-size: 18px; 
    }
    /*bouton*/
    .bouton{
        left: 1180px;
    }
  
    /*texte*/
    .copyright{
        font-size: 20px;
        top: 80px; left: 40px;
    }
    /*images*/
    .dwm {
        top: 80px; left: 40px;
    }
    .mockup{
        max-width: 150%;
    }

    .logo{
        max-width: 10%;
      
    }
    .logoimg{
        width: 500px;
        height: 200px;
        left: 150px; top: 200px;
    }
    .gif{
        width: 500px;
        height: 500px;
        border: none;
    }
    .carre {
        position: absolute;
        top: 50px;
        right: 0;
        background-size: 10%;
        background-position: 100%;
        height: 600px; width: 600px;
    
    }
    .rectangle{
        width: 1260px;
        height: 550px;
        top: 650px;
    }
    .rectangle--projet{
        height: 400px;
    }
    .rectangle--projet__2{
        height: 590px;
        top: 1400px;
    }
   
    .maquette{
        width: 500px;
    }
  
}

@media (min-width: 1500px){
    .contenair{
        width: 100%;
        max-width: 1500px;
        margin: auto;
    }
    .rectangle{
        left: auto;

    }
    .rectangle--projet{
        height: 400px;
    }
    .rectangle--projet__2{
        top: 1350px;
    }
   
    .carre {
        right: 390px;
    
    }
    
}