
@use "_var.scss" as v; 

/*Nav et listes */
.menu__liste{ 
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}
.menu__el a{ 
    display: none;
}
.menu__liste a:hover{
    color: var(--color-secondary);
}  
[color-theme="sombre"] .menu__liste a:hover{
    color: var(--color-btn);
}  
.menu__etat--ac{
    border-bottom: 4px solid var(--color-text-offset);
}  
.menu__etat--hover{
    color: var(--color-secondary);
}  
.menu__etat--focus{
    color: var(--color-text);
}  
.menu__liste a:focus{ 
    color: var(--color-texte);
}

.reseau{
    list-style: none;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}
.reseau__el {
   padding: 10px;

}

.reseau__el a{
    display: inline-block;
    width: 20px;
    height: 20px;
    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
   

    background-image: url(../images/instahover.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.reseau__el--insta a:hover{
    background-image: url(../images/insta.png);
}
.reseau__el--insta a:focus{
    background-image: url(../images/insta.png);
}
.reseau__el--pinterest a{
    background-image: url(../images/pinteresthover.png);
}
.reseau__el--pinterest a:hover{
    background-image: url(../images/pinterest.png);
}
.reseau__el--pinterest a:focus{
    background-image: url(../images/pinterest.png);
}
.reseau__el--mail a{
    background-image: url(../images/mailhover.png);
}
.reseau__el--mail a:hover{
    background-image: url(../images/mail.png);
}
.reseau__el--mail a:focus{
    background-image: url(../images/mail.png);
}
.reseau__el--behance a{
    background-image: url(../images/behancehover.png);
}
.reseau__el--behance a:hover{
    background-image: url(../images/behance.png);
}
.reseau__el--behance a:focus{
    background-image: url(../images/behance.png);
}
[color-theme="sombre"] .reseau__el--insta a{
    background-image: url(../images/inswh.png);
}
[color-theme="sombre"] .reseau__el--pinterest a{
    background-image: url(../images/pinterestwh.png);
}
[color-theme="sombre"] .reseau__el--mail a{
    background-image: url(../images/mailwh.png);
}
[color-theme="sombre"] .reseau__el--behance a{
    background-image: url(../images/bewh.png);
}
[color-theme="sombre"] .reseau__el--insta a:hover{
    background-image: url(../images/instad.png);
}
[color-theme="sombre"] .reseau__el--pinterest a:hover{
    background-image: url(../images/pinterestd.png);
}
[color-theme="sombre"] .reseau__el--mail a:hover{
    background-image: url(../images/maild.png);
}
[color-theme="sombre"] .reseau__el--behance a:hover{
    background-image: url(../images/be.png);
}

@media (max-width: 800px){
    .menu{
        display: none;
    }
    
    .menu-button{
        position: fixed;
        top: 10px;
        right: 50px;
        background: transparent;
        border: none;
        text-transform: uppercase;
        outline: none;
        color:var(--color-text);
        
    }
    
    .menu-button:hover{
        cursor: pointer;
        color: var(--color-text);
    }
    
    .menu__list{
        margin: auto;
        list-style: none;
    }
    
    .menu__link{
        display: inline-block;
        position: relative;
        margin: 30px;
        padding: 20px;
        top: 400px;
        font-size: 24px;
        text-decoration: none;
        color: var(--color-text);
        background-color: white;
    }
    [color-theme="sombre"] .menu__link{
        color: var(--color-secondary);
    }
    .menu__link:hover{
        color: var(--color-secondary);
    }
    /* Style du menu ouvert */
    body[burger-menu] .menu{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        height: 1000px;
        width: 420px;
        background-image: url(../images/patterns.png);
        background-repeat: repeat;
        background-size: 40%;
        background-position: 100%;
        z-index: 1
    }
    
    body[burger-menu] .menu-button{
        color: var(--color-fourty);
    }
    body[burger-menu] .menu-button:hover{
        color: var(--color-thirdy);
    }
}
/*tablette*/
@media (min-width: 900px){

    .menu-button{
        display: none;
    }
    .menu__list{
        display:none;
    }
    .menu__item{
        position: relative;
        top: -50px;
     }
     .menu__item--actif {
        border-bottom: 3px solid var(--color-text-offset);
     }
     [color-theme="sombre"] .menu__item--actif {
        border-bottom: 3px solid var(--color-btn);
     }
    .menu__el a{ 
        display: inline-block;
        position: relative;
        bottom: 45px;
        left: 50px;
        text-decoration: none;
        color: var(--color-text-);
        font-size: 20px;
        
    }
  
}

@media (min-width: 1200px){

    /*menu*/
    .menu__el a{ 
        bottom: 70px; 
        left: 50px;
        font-size: 25px;  
    
    }
     .reseau__el a{
         width: 30px;
         height: 30px;
         margin-right: 20px;
        
     }
     .menu__item{
        position: relative;
        margin-left: 50px;
   
     }
     .menu__link{
        font-size: 18px;
    }
@media (min-width: 1500px){
        .menu__item{
            top: -60px;
        }
        .menu__liste--site,
        .menu__liste--images,
        .menu__liste--reseaux{
          display: inline;
          
        }
        .menu__liste--etats{
            display: inline;
            top: 10px;
            
        }
    }
}

