/*menu*/
@use "_var.scss" as v; 

/*Nav et listes */
.menu__liste{ 
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}
.menu__el a{ 
    display: none;
}
.menu__el--accueil a{ 
   align-items: flex-start;
}
.menu__el--projet a{
    top: 50px; left: 150px;
}
.menu__el--actif a{
   text-shadow: 0px 5px 5px;
}
.menu__el a:hover{
    color: var(--color-thirdy);
    border-bottom: 4px solid var(--color-texte);
}  
.menu__el a:focus{ 
    color: var(--color-texte);
    border-bottom: 4px solid var(--color-texte);
}
.reseau{
    list-style: none;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}
.reseau__el {
   padding: 10px;

}

.reseau__el a{
    display: inline-block;
    width: 20px;
    height: 20px;
    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
   

    background-image: url(../images/insta.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.reseau__el--insta a:hover{
    background-image: url(../images/instahoverl.svg);
}
.reseau__el--insta a:focus{
    background-image: url(../images/instactifl.svg);
}
.reseau__el--pinterest a{
    background-image: url(../images/pinterest.png);
}
.reseau__el--pinterest a:hover{
    background-image: url(../images/pinteresthoverl.svg);
}
.reseau__el--pinterest a:focus{
    background-image: url(../images/pinterestactifl.svg);
}
.reseau__el--mail a{
    background-image: url(../images/mail.png);
}
.reseau__el--mail a:hover{
    background-image: url(../images/mailhoverl.svg);
}
.reseau__el--mail a:focus{

    background-image: url(../images/mailactifl.svg);
}
.reseau__el--behance a{
  
    background-image: url(../images/behance.png);
}
@media (max-width: 400px){

    .menu{
        display: none;
    }

    .menu-button{
        padding: 0;
        position: relative;
        top: -10px;
        left: 170px;
        z-index: 2;
        background: transparent;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
        outline: none;
        color: var(--color-text);
        
    }

    .menu-button:hover{
        cursor: pointer;
        color: #1e1b27;
    }

    .menu__list{
        margin: 0;
        list-style: none;
    }

    .menu__link{
        display: inline-block;
        padding: 10px;
        margin: 52px;
        font-size: 1.5em;
        text-decoration: none;
        color: var(--color-text);
    }

    .menu__link:hover{
        color: #fba6a6;
    }
    /* Style du menu ouvert */
    body[burger-menu] .menu{

        position: absolute;
        height: 750px;
        width: 385px;
        background: url(../images/pattern.png);
    
    }

    body[burger-menu] .menu-button{
        color: #ffdede;
    }
    body[burger-menu] .menu-button:hover{
        color: #fba6a6;
    }

}

/*tablette*/
@media (min-width: 900px){
  
    .menu-button{
        display: none;
    }
    .menu__list{
        display:none
    }
    .menu__item{
        display:none
    }
    .menu__el a{ 
        display: inline-block;
        position: relative;
        bottom: 45px; 
        left: 500px;
        text-decoration: none;
        width: 200px;
	    padding: 5px 10px;
        color: var(--color-text-offset);
        font-size: 25px;
      
    }
  
    .menu__liste--footer a{
        width: 20px;  
    }
    .menu__el--uikit{
        top: -15px; left: 330px;
    }
    
    .menu__el--case{
        top: -5px; left: 480px;
    }
    
    .menu__el--credits{
        top: 10px; left: 660px;
    }
 
    
}

 

@media (min-width: 1100px){

    /*menu*/
    .menu__el a{ 
        display: inline-block;
        position: relative;
        bottom: 60px; 
        left: 800px;
        text-decoration: none;
        color: var(--color-text-offset);
        font-size: 30px;  
    }
   
    .menu__liste--footer a{
        width: 181px;
    }
  
   
}

