/**
typo
**/
@use "_var.scss" as v; 

body{
    background-color: var(--color-bg);
    font-family: v.$font-text;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: var(--color-text); 
   
}
.title{
    font-size: 18px;
} 

.copyright{
    font-size: 12px;
    position: relative;
    top: 68px; left: 25px;
}
.slogan{
    font-weight: medium;
    position: relative;
    top: 15px; left: 45px;
}
.prototype{
    position: relative;
    bottom: 260px; left: 45px;
    font-weight: bold;
}


@media (min-width: 900px){
.copyright{
    font-size: 18px;
    top: 90px; left: 30px;
    
}
.slogan{
    font-size: 34px;
    top: 50px; left: 130px;
}
.prototype{
    bottom: 350px; left: 130px;
    font-size: 24px;
}
.title{
    font-size: 18px;
} 

}