/**
typo
**/
@use "_var.scss" as v; 

body{
    background-color: var(--color-bg);
    font-family: v.$font-text;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: var(--color-text); 
   
}
.title{
    position: relative;
    font-size: 16px;
    left: 45px; top: 20px;
} 

.copyright{
    font-size: 12px;
    position: relative;
    top: 68px; left: 25px;
}
.prototype{
    cursor: pointer;
    position: relative;
    
    bottom: 260px; left: 45px;
    font-weight: medium;
    background: #00689A;
    color: white;
    box-shadow: 0px 4px 4px #014666;
   
}
.prototype a:hover{
    color: grey;
}

@media (min-width: 900px){
    body{
        font-size: 20px;
       
    }
    .copyright{
        font-size: 18px;
        top: 90px; left: 30px;
        
    }
    .prototype{
        padding: 10px 20px;
        bottom: 360px; left: 130px;
    }
    .title{
        font-size: 30px;
        left: 90px;
    } 

}
@media (min-width: 1100px){
    body{
        font-size: 25px;
       
    }
    .copyright{
        font-size: 18px;
        top: 90px; left: 30px;
        
    }
    .prototype{
        padding: 10px 20px;
        bottom: 460px; left: 110px;
    }
    .prototype--projet{
        bottom: 460px; left: -140px;
    }
    .title{
        font-size: 30px;
        top: 120px;
        left: 180px;
    } 
}