:root{
    --color-bg: #fefefe;
    --color-texte: #000000;
    --color-text-offset:pink;
    --color-secondary: #1D53B3;
}
[color-theme="clair"]{
    --color-bg: #fefefe;
    --color-texte: #000000;
    --color-text-offset: pink;
    --color-secondary: #1D53B3;
}
[color-theme="sombre"]{
    --color-bg: #3b4345;
    --color-texte: #fefefe;
    --color-text-offset: purple;
    --color-secondary: #1e1b27;
   
}

/*type*/
$font-text:"Lexend";
$font-title: serif; 